@import '../utils/variables';
@import '../utils/mixins';

.backButton {
  display: flex;
  align-items: center;
  width: 120px;
  margin-left: 4px;
  color: black;
  @include customTransition(color);
  &:hover {
    color: rgba(var(--text-accent-rgba));
  }
  @media screen and (min-width: $laptop) {
  }
}

.backButton__icon {
  display: block;
  fill: currentColor;
  width: 16px;
  height: 16px;
}

.backButton__text {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin-left: 12px;
}
