@import '../utils/variables';
@import '../utils/mixins';

.imageWrapper {
  position: relative;
  margin: 0 auto;
  margin-bottom: 16px;
  text-align: center;
  width: 312px;
  height: 104px;
  @media screen and (min-width: $laptop) {
    width: 600px;
    height: 200px;
  }
}
